[user]
    name = fkzys
    email = fkzys@proton.me
    signingKey = /home/user/.ssh/id_ed25519.pub
[pull]
    rebase = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = /etc/gitpkg/allowed_signers
[commit]
    gpgSign = true
